<form action="/create" method="post">
    <p>Name to create:</p>
    <input type="text" name="name">
    <p>Email:</p>
    <input type="text" name="email">
    <input type="submit" value="add">
</form>